h1 {
  color: blue;
  font-family: fantasy;
  text-align: center;
}
<style>
#myHeader {
  background-color: yellow;
  color: black;
  padding: 60px;
  text-align: center;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    /* Background Image */
    background-image: url('https://unsplash.com/photos/white-book-marker-on-book-page-J4kK8b9Fgj8'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

/* Add more styles as needed for the rest of your elements */

.genre {
  background-color: tomato;
  color: white;
  padding: 10px;
}
</style>
figure {
    text-align: center;
}
figure img {
  max-width: 100%;
  Height: auto;
  margin-botton: 12px;
  border: 1px solid black;
}
p {
  background: #8FC8E1;
  text-align: center;
  color: #1A3408;
  font-family: fantasy;
  font-size: 20px
}
