h1 {
  color: blue;
  font-family: fantasy;
  text-align: center;
}
<style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
 body {
    background-color: lightblue;
  }
.genre {
  background-color: tomato;
  color: white;
  padding: 10px;
}
</style>
figure {
    text-align: center;
}
figure img {
  max-width: 100%;
  Height: auto;
  margin-botton: 12px;
  border: 1px solid black;
}
p {
  background: #8FC8E1;
  text-align: center;
  color: #1A3408;
  font-family: fantasy;
  font-size: 20px
}
